svg{
    background-color: antiquewhite;
    margin-top: 10px;
}

#page-wrapper-barchart{
    position: relative;
}

#tooltip{
    width: 160px;
    opacity: 0.9;
    z-index: 1;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
}

$rect_color: #33adff;

rect{
    fill: $rect_color;
    transition: fill 0.5s;
}

rect:hover{
    fill: lighten($rect_color, 50%)
}